@use './scss/utils' as utils;

.container {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: utils.multiply(60) 1fr;
  grid-template-rows: utils.$top-section 1fr;
  grid-template-areas:
    'top top'
    'filters map';
}

.navbar {
  grid-area: top;
  background-color: #007ac9;
  padding: utils.multiply(4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  & .header {
    font-size: 20px;
    line-height: 1;
  }

  & .description {
    font-size: 14px;
  }
}

.filters {
  grid-area: filters;
  padding: utils.multiply(4);
  padding-right: 0;
}

.map {
  grid-area: map;
  height: 100%;
  padding: utils.$map-padding;
}
