$primary-color: #007bff;
$secondary-color: #6c757d;
$accent-color: #ff5722;

$background-color: #f8f9fa;
$header-background: #343a40;
$card-background: #ffffff;
$input-background: #ffffff;

$text-primary: #212529;
$text-secondary: #6c757d;

$border-color: #dee2e6;
$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

$input-border: #ced4da;
$input-focus: #80bdff;
$switch-on: #28a745;
$switch-off: #6c757d;
